@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Nerko+One&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Judson:ital,wght@0,400;0,700;1,400&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nerko+One&family=Protest+Strike&display=swap');

.blanco{
    height: 150px;
    width: 100%;
    color:white;
}
nav.navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item a.nav-link
{
    font-family: "Jockey One" !important;
    font-size: 30px;
    padding: 0px 50px;
    color: #7A3B3B;
}
nav.navbar .container-fluid .collapse ul.navbar-nav li.nav-item a.nav-link:hover
{
    font-family: "Jockey One" !important;
    font-size: 30px;
    padding: 0px 50px;
    color: #461B17;
}  
nav.navbar .container-fluid{
    margin: 10px;
    width: 50%;
    padding-left: 170px;
}
nav.navbar {
    background-color: #F9F5EA !important;
    position: fixed;
    top: 0;
    width: 100%;
}
nav.navbar .container-fluid .navbar-toggler{
    background-color: #F9F5EA !important;
    color: #7A3B3B;
}

.square{
    height: 620px;
    width: 600px;
    background-color:#F9F5EA;
    border-radius: 13px;
    position: absolute;
    bottom: 10px;
    left: 120px;
    box-shadow: 5px 5px 15px #461B17;
}

a.btn{
    background-color: #B55518;
    color: #F9F5EA;
    font-family: "Jockey One" !important;
    font-size: 30px;
    transition: all 0.2s;
    margin-top: 10px;
    margin-left: 32%;
}

a.btn:hover{
    background-color: #B55518;
    color: #F9F5EA;
    transform: scale(105%);
    display: inline-block;
}

h3{
    font-family: "Jockey One" !important;
    font-size: 30px;
    color: #461B17;
}
h3.Contacto{
    border:2px solid #855518;
}
h2{
    font-family: 'Otomanopee One';
    color: #B55518;
    letter-spacing: 20px;
    font-size: 70px;
}

p{
    text-align: justify;
    text-justify: inter-word;
    font-family: "K2D";
    color: #461B17;
}

.rectangle{
    height: 100px;
    width: 100%;
    background-color:#F9F5EA;
}

footer{
    background-color: #F9F5EA;
    color: #B55518;
    font-family: "Jockey One" !important;
    font-size: 22px;
}
.card .card-body a.nav-link{
    font-family: "Jockey One" !important;
    font-size: 30px;
    color: #461B17;
}
.squareArt{
    height: 600px;
    width: 60%;
    background-color:#F9F5EA;
    border-radius: 13px;
    position: absolute;

    left: 300px;
}

.checked {
    color: rgb(255, 191, 0);
}
.notchecked{
    color:#461B17;
}
.cardArt{
    margin-top: 10px;
    margin-left: 32%;
}
.squareSongs{
    margin-top: 150px;
    margin-left: 13%;
}
.squareSongs .Songs{
    padding-top: 100px;
    padding-left: 0px;
}

/* .carouselPopular .carousel-inner .carousel-item .circleTaylor{
    height: 200px;
    width: 200px;
    background-image: url("../Imagenes/Taylorpfp..svg");
    background-color: #a235ef;
    border-radius: 50%;
    transition: all 0.2s;
    display: inline-block;
    margin-right: 30px;
} */
.carouselPopular .carousel-inner .carousel-item .icono {
    height: 200px;
    width: 200px;
    background-color: #a235ef;
    border-radius: 50%;
    transition: all 0.2s;
    display: inline-block;
    margin-right: 30px;
}
.carouselPopular .carousel-inner .carousel-item .icono:hover{
    transform: scale(110%);
    border-radius: 10%;
    display: inline-block;
}
.carouselPopular .carousel-inner{
    background-color: #b554189b;
    height: 400px;
}
.carouselPopular .carousel-inner .carousel-item{
    padding: 90px;
}

/* .carouselPopular .carousel-inner .carousel-item .circleDolly{
    height: 200px;
    width: 200px;
    background-image: url("../Imagenes/DollyPfP.svg");
    background-color: #a235ef;
    border-radius: 50%;
    transition: all 0.2s;
    display: inline-block;
    margin-right: 30px;
} */
/* .carouselPopular .carousel-inner .carousel-item .circleDolly:hover{
    transform: scale(110%);
    border-radius: 10%;
    display: inline-block;
}



.carouselPopular .carousel-inner .carousel-item .circleWillie{
    height: 200px;
    width: 200px;
    background-image: url("../Imagenes/williePFP.svg");
    background-color: #a235ef;
    border-radius: 50%;
    transition: all 0.2s;
    display: inline-block;
    margin-right: 30px;
}
.carouselPopular .carousel-inner .carousel-item .circleWillie:hover{
    transform: scale(110%);
    border-radius: 10%;
    display: inline-block;
} */
.accordion .accordion-item .accordion-header .accordion-button{
    background-color: #B55518;
    color:#F9F5EA;
    font-size: 25px;
}
.squareSong{
    height: 200px;
    width: 200px;
    background-color: #7A3B3B;
    padding-right: 50px;
}
.accordion .accordion-item .accordion-collapse .accordion-body a{
    text-decoration: none;
    padding-left: 10px;
}
.accordion .accordion-item .accordion-collapse .accordion-body a h3{
    padding-left: 50px;
}
.accordion .accordion-item .accordion-collapse .accordion-body .cuadro {
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
}
.button {
    background-color: #fee98a;
    border-radius: 10px;
    color: rgb(11, 2, 24);
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    }